<% layout("./layouts/boilerplate.ejs") %>


    <div class="row">
        <div class="col-6 offset-3">
         <h3 class="col-6 offset-3">SignUp for Wandarlust</h3>
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">username</label>
                    <input name="listing[username]" placeholder="Enter username" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">Please Enter username</div>
                    <div class="valid-feedback">looks good</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input name="listing[email]" placeholder="Enter email" type="email" class="form-control"
                        required />
                    <div class="invalid-feedback">Please Enter username</div>
                    <div class="valid-feedback">looks good</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input name="listing[password]" placeholder="Enter password" type="password" class="form-control"
                        required />
                    <div class="invalid-feedback">Please Enter username</div>
                    <div class="valid-feedback">looks good</div>
                </div>

                <button class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>